.body{
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    background-color: #F4F2DD;
}
.header__logo {
    font-family: Kodchasan;
    font-style: Regular;
    font-size: 30px;
}
.header__menu {
    font-family: Slabo;
    font-style: Regular;
    font-size: 20px;
    list-style-type: none !important;
}
.header__menu-link {
    text-decoration: none !important;
    color: black;
}
.main__block-1 {
    display: grid;
    grid-area: main__block-1;
    padding-left: 22px;
}
.main__block-2 {
    display: grid;
    grid-area: main__block-2;
    justify-content: center;
}
.main__click {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}
#main__title {
    font-style: Medium;
    font-family: Kodchasan;
    font-size: 50px;
}
.main__text {
    font-family: Slabo;
    font-style: Regular;
    font-size: 20px;
}
.main__click-1 {
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 22px;
    font-family: Slabo;
    font-style: Regular;
    font-size: 24px;
    background-color: #B2AE7F;
}
.main__click-2 {
    padding-left: 22px;
    padding-top: 18px;
    padding-bottom: 18px;
    font-family: Slabo;
    font-style: Regular;
    font-size: 24px;
}
.main__photo {
    width: 90%;
    height: 90%;
}
.footer__text {
    font-family: Slabo;
    font-style: Regular;
    font-size: 14px;
}
@media screen and (max-width: 767px) {
    .header {
        height: 20vh;
        display: grid;
        grid-area: header;
        grid-template-rows: 1fr 1fr;
    }
    .main {
        height: 80vh;
        display: grid;
        grid-area: main;
        grid-template-areas: 
        "main__block-1"
        "main__block-2";
        grid-template-rows: 1fr 1fr;
    }
    .footer {
        display: none;
    }
    .header__logo {
        padding-left: 22px;
    }
    .header__menu {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}    
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .header {
        height: 20vh;
        display: grid;
        grid-area: header;
        grid-template-rows: 1fr 1fr;
    }
    .main {
        height: 80vh;
        display: grid;
        grid-area: main;
        grid-template-areas: 
        "main__block-1"
        "main__block-2";
        grid-template-rows: 1fr 1fr;
    }
    .footer {
        display: none;
    }
    .header__menu {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .header__logo {
        padding-left: 22px;
    }
}
@media screen and (min-width: 1024px) {
    .header {
        display: grid;
        grid-area: header;
        grid-template-columns: 1fr 1fr;
    }
    .main {
        display: grid;
        grid-area: main;
        grid-template-areas: 
        "main__block-1 main__block-2";
        grid-template-columns: 1fr 1fr;
    }
    .footer {
        display: grid;
        grid-area: footer;
        justify-content: end;
        padding-right: 20px;
    
    }
    .header__logo {
        padding-top: 82px;
        padding-left: 154px;
    }
    .header__menu {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding-top: 82px;
    }
    .main__block-1 {
        padding-left: 154px;
    }
}      